*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
:root{
    --blue:rgb(40, 40, 43);
}
body{
    height: 100vh;
    width: auto;
    background: rgb(50, 32, 32); 
}
.movies{
    width: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards{
    height: 400px;
    width: 220px ;
    background-color: aqua;
    border-radius: 4px;
    margin-top: 10px;


}









details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details h2{
    text-align: center;

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.details p{
    text-align: center;
    font-size: 14px;
}
.details a{
    text-decoration: none;
    background: #2d2020;
    padding: 4px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-left:70px ;
}
.details a:hover{
    background: #2d2020ca;
    background-color: azure;
}